<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            background: black;
            color: #fff!important;
        }
    </style>
</head>
<body>
    <main-page>
        <h1>Hi my name is {{ name }} yes!</h1>
        <p>And my surname is {{ surname }}</p>
    </main-page>

    <sub-page>
        <p>City: {{city}}</p>
        <p>Stree: {{street}}</p>
        <p>Number: {{number}}</p>        
    </sub-page>

    <script src="yetAnotherFrameworkJs.js"></script>
    <script src="script.js"></script>
</body>
</html>
